<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <bean id="studentRepository"-->
    <!--          class="student.repository.impl.InMemoryRepository">-->
    <!--    </bean>-->

    <bean id="studentRepository"
          class="student.repository.impl.FileStudentRepository">
    </bean>

    <bean id="studentService"
          class="student.services.impl.StudentServiceImpl">
        <constructor-arg type="student.repository.StudentRepository"
                         ref="studentRepository"/>
    </bean>

<!-- not recommended approach
  <bean id="studentService"-->
<!--          class="student.services.impl.StudentServiceImpl"-->
<!--          autowire="constructor">-->
<!--    </bean>-->

</beans>